  <ion-view view-title="Lista">
    <ion-nav-buttons side="secondary">
      <a href="#/new" class="button button-icon ion-plus"></a>
    </ion-nav-buttons>
    <ion-content ng-controller="ListaCtrl">
      <ion-list>
        <ion-item ng-repeat="t in tarefas" ng-click="editar($index)">
          {{t.texto}}
          <ion-option-button class="button-positive icon-left ion-checkmark-round" ng-click="concluir($index)">Concluir</ion-option-button>
          <ion-option-button class="button-assertive ic on-left ion-trash-a" ng-click="apagar($index)">Apagar</ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
